* {
  box-sizing: border-box;
}

.App > footer {
  margin-top: 3ex;
}

.App > footer .container {
  border-top: 1px solid #ccc;
  padding: 2ex;
}

.App > footer .container > * {
  font-size: 90%;
}

.App > footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App > footer ul li {
  margin-top: 1ex;
}

.App > header {
  background-color: #222;
  color: white;
  height: 4ex;
  margin: 0;
  margin-bottom: 1ex;
  padding: 3ex;
  position: relative;
  text-align: center;
  z-index: 9;
}

.App > header:after {
  content: "";
  display: table;
  clear: both;
}


.App > main {
  position: relative;
  z-index: 1;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-intro {
  font-size: large;
}

.container {
  margin: 0 auto;
  max-width: 120ex;
}

.dataLinks {
  float: right;
}

a,
.link-like {
  color: #444;
  cursor: pointer;
  text-decoration: underline;
}

a:hover,
.link-like:hover {
  color: black;
  text-decoration: none;
}

.app-columns__one {
  display: grid;
  grid-template-columns: auto;
}

.app-columns__two {
  display: grid;
  /* grid-column-gap: 1ex; */
  grid-template-columns: auto 36%;
}

.app-columns__one .app--info {
  display: none;
}

.addItem {
  display: inline-block;
  font-size: 100%;
  margin-top: 2ex;
  margin-left: 2ex;
  width: calc(100% - 4ex);
}
