.App > footer {
  margin-top: 3ex;
}

.App > footer .container {
  border-top: 1px solid #ccc;
  padding: 2ex;
}

.App > footer .container > * {
  font-size: 90%;
}

.App > footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App > footer ul li {
  margin-top: 1ex;
}

.App > header {
  background-color: #222;
  color: white;
  height: 4ex;
  margin-bottom: 1ex;
  padding: 20px;
  position: relative;
  text-align: center;
  z-index: 9;
}

.App > main {
  position: relative;
  z-index: 1;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  margin: 0 auto;
  max-width: 120ex;
}

.addEpic {
  display: flex;
  margin-bottom: 3ex;
}

.addEpic * {
  border: 0;
  border-bottom: 1px solid #444;
  font-size: 1em;
}

.addEpic button {
  background: darkGreen;
  color: white;
  padding: .5ex 2ex;
}

.addEpic input {
  display: inline-block;
  flex-grow: 1;
  padding: 0 1ex;
}

.dataLinks {
  float: right;
}

a,
.link-like {
  color: #444;
  cursor: pointer;
  text-decoration: underline;
}

a:hover,
.link-like:hover {
  color: black;
  text-decoration: none;
}
