.planning--details {
  background: rgba(0, 0, 0, 0.1);
  padding: 0 1ex 2ex;
}

.app-columns__one .planning--details {
  display: none;
}

.planning--details h2 {
  border-bottom: 1px solid #aaa;
  color: #444;
  font-size: 120%;
  margin-top: 1ex;
}

.planning--details .formField + .formField {
  margin-top: 2ex;
}

.planning--details .formField input,
.planning--details .formField textarea {
  border: 1px solid #aaa;
  font-size: 1em;
  margin: 0;
  padding: 4px;
  width: 100%;
}

.planning--details .formField label {
  display: block;
}

.planning--details .formField textarea {
  height: 12ex;
}

.planning--details .formField.buttons button {
  float: right;
}

.planning--details input[disabled] {
  color: black;
}

.text-right {
  text-align: right;
}
