[class*="tree--icon"] {
  color: #999;
  cursor: pointer;
  position: relative;
  padding: 0 1ex;
  top: 0;
  transition: 300ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class*="tree--icon__add"]:hover {
  background: lightblue;
  color: #444;
}

[class*="tree--icon__collapse"]:hover,
[class*="tree--icon__estimate"]:hover {
  background: lightgreen;
  color: #444;
}

[class*="tree--icon__remove"]:hover {
  background: #c11f1f;
  color: white;
  margin-left: 4ex;
}
