.tree {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.collapse-closed > .tree {
  display: none;
}

.collapse-closed .tree--icon__collapse {
  background: blue;
}

.tree .tree {
  margin: 0 0 0 4ex;
}

.isDragging {
  opacity: 0.5;
}

.tree--title {
  border-radius: 4px;
  border-left: 0;
  border-right: 0;
  display: flex;
  padding: 4px 2ex;
  transition-duration: 300ms;
  transition-property: box-shadow;
}

.tree--title.drop-child:not(.isDragging) {border-bottom: 1ex solid blue;}
.tree--title.drop-sibling:not(.isDragging) {border-top: 1ex solid orange;}

.isHovered {
  background: gainsboro;
  background: rgba(0, 0, 0, 0.1);
}

.tree--title:hover {
  border-color: gainsboro;
  box-shadow: 0 0 20px 0px #999;
}

.tree--label {
  flex-grow: 1;
  margin-left: 1ex;
  position: relative;
  top: 3px;
}

[class*="tree--estimate"] {
  border: 1px solid #ddd;
  border-radius: 1ex;
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  margin-right: 1ex;
  padding: 2px 1ex 0;
  text-align: center;
  width: 4ex;
}
[class*="tree--estimate"]:hover {
  border-color: #444;
  color: #444;
}

.tree--estimate__aggregate {
  border-color: #ddd;
  color: #ddd;
}

.tree--title:hover .tree--estimate__aggregate {
  border-color: #aaa;
  color: #aaa;
}

.tree--estimate__estimate {
  border-color: #aaa;
  color: #aaa;
}
