.tree {
  margin: 0;
  padding: 0;
}

.collapse-closed > .tree {
  display: none;
}

.collapse-closed .tree--icon__collapse {
  background: blue;
}

.tree .tree {
  list-style-type: none;
  margin: 0 0 0 3ex;
}

.isDragging {
  opacity: 0.5;
}

.tree--title {
  border-radius: 4px 0 0 4px;
  border-left: 0;
  border-right: 0;
  display: flex;
  padding: 4px 1ex;
  transition: box-shadow 300ms;
}

.tree--title.drop-child:not(.isDragging) {border-bottom: 1ex solid blue;}
.tree--title.drop-sibling:not(.isDragging) {border-top: 1ex solid orange;}

.tree--title small {
  color: gainsboro;
  transition: color 1000ms;
}

.tree--title:hover small {
  color: #444;
}

.isHovered {
  background: gainsboro;
  background: rgba(0, 0, 0, 0.1);
}

.tree--title:hover {
  border-color: gainsboro;
  box-shadow: 0 0 20px 0px #999;
}

.tree--label {
  flex-grow: 1;
  margin-left: 1ex;
  position: relative;
}

[class*="tree--estimate"] {
  color: #ddd;
  cursor: pointer;
  display: inline-block;
  margin-right: 1ex;
  text-align: center;
  width: 8ex;
}

.tree--estimate {
  border: 1px solid #ddd;
  border-radius: 1ex;
}

[class*="tree--estimate"]:hover {
  border-color: #444;
  color: #444;
}

.tree--estimate__aggregate {
  border-color: #ddd;
  color: #ddd;
}

.tree--title:hover .tree--estimate__aggregate {
  border-color: #aaa;
  color: #aaa;
}

.tree--estimate__estimate {
  border-color: #aaa;
  color: #aaa;
}

.selected {
  background: rgba(0, 0, 0, 0.1);
}
